### <font color="blue"> import libraries

In [2]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical
import keras.backend as K
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import KFold
import numpy as np

### <font color="blue"> Read the data</font>

In [3]:
data=pd.read_csv('crx.data',names=["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16"])
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [4]:
data.tail()

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

### <font color="blue"> missing values </font>

In [5]:
data.isnull().values.any()

False

In [6]:
data.columns[data.isin(['?']).any()]

Index(['A1', 'A2', 'A4', 'A5', 'A6', 'A7', 'A14'], dtype='object')

In [7]:
data[['A2', 'A14']] = data[['A2', 'A14']].replace(['?'], None)
data[['A2', 'A14']] = data[['A2', 'A14']].apply(lambda col: col.replace('None', col.astype(float).mean()))

### <font color="blue"> data casting </font>

In [8]:
data[['A2', 'A3', 'A8', 'A11', 'A14', 'A15']] = data[['A2', 'A3', 'A8', 'A11', 'A14', 'A15']].astype(float)
data[['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13', 'A16']] = data[['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13', 'A16']].astype('category')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    category
 1   A2      678 non-null    float64
 2   A3      690 non-null    float64
 3   A4      690 non-null    category
 4   A5      690 non-null    category
 5   A6      690 non-null    category
 6   A7      690 non-null    category
 7   A8      690 non-null    float64
 8   A9      690 non-null    category
 9   A10     690 non-null    category
 10  A11     690 non-null    float64
 11  A12     690 non-null    category
 12  A13     690 non-null    category
 13  A14     677 non-null    float64
 14  A15     690 non-null    float64
 15  A16     690 non-null    category
dtypes: category(10), float64(6)
memory usage: 41.4 KB

### <font color="blue"> label encoding </font>

In [9]:
categorical=['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13', 'A16']

In [98]:
for cat in categorical:
  le = LabelEncoder()
  #print(data[[cat]])
 #print(le.fit_transform(data[cat]))
  data[cat]=le.fit_transform(data[cat])
  
data = data.fillna(0)

In [11]:
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,2,30.83,0.000,2,1,13,8,1.25,1,1,1.0,0,0,202.0,0.0,0
1,1,58.67,4.460,2,1,11,4,3.04,1,1,6.0,0,0,43.0,560.0,0
2,1,24.50,0.500,2,1,11,4,1.50,1,0,0.0,0,0,280.0,824.0,0
3,2,27.83,1.540,2,1,13,8,3.75,1,1,5.0,1,0,100.0,3.0,0
4,2,20.17,5.625,2,1,13,8,1.71,1,0,0.0,0,2,120.0,0.0,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    int64
 1   A2      690 non-null    float64
 2   A3      690 non-null    float64
 3   A4      690 non-null    int64
 4   A5      690 non-null    int64
 5   A6      690 non-null    int64
 6   A7      690 non-null    int64
 7   A8      690 non-null    float64
 8   A9      690 non-null    int64
 9   A10     690 non-null    int64
 10  A11     690 non-null    float64
 11  A12     690 non-null    int64
 12  A13     690 non-null    int64
 13  A14     690 non-null    float64
 14  A15     690 non-null    float64
 15  A16     690 non-null    int64
dtypes: float64(6), int64(10)
memory usage: 86.4 KB

### <font color="blue"> train test split

In [97]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]
cat_y = to_categorical(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(483, 15) (207, 15) (483,) (207,)

### <font color="blue"> Evaluation metrics

In [59]:
def f1_metric(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))

    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())

    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val
    
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

[reference](https://datascience.stackexchange.com/questions/48246/how-to-compute-f1-in-tensorflow)

### <font color="blue"> define the model architecture

In [99]:
def FFN(X_train, y_train):
  l = 0.01
  model = Sequential()
  model.add(Dense(15, activation='relu', input_shape=(X_train.shape[1],)))
  model.add(Dense(4, activation='relu')) #relu, sigmoid, softmax ; 3, 10, 4
  model.add(Dense(4, activation='relu'))
  model.add(Dense(4, activation='relu'))
  model.add(Dense(1, activation='softmax'))#softmax, sigmoid, softmax

  # Add regularization after defining the layers
  regularizer = tf.keras.regularizers.L1(l)
  for layer in model.layers:
    if isinstance(layer, Dense):
       layer.kernel_regularizer = regularizer


    #binary_crossentropy, mean_squared_error
  model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy', f1_metric, precision_m, recall_m]) # mean_squared_error #binary_crossentropy
  model.fit(X_train, y_train, epochs=25, batch_size=20, verbose=0)
  return model

In [100]:
def evaluate_FFN(model,X_test, y_test):
  score = model.evaluate(X_test, y_test, verbose=0)
  print("%s: %.2f%%" % (model.metrics_names[1], score[1]*100))
  print("%s: %.2f%%" % (model.metrics_names[2], score[2]*100))
  print("%s: %.2f%%" % (model.metrics_names[3], score[3]*100))
  print("%s: %.2f%%" % (model.metrics_names[4], score[4]*100))

### <font color="blue"> train and evaluate FFN

In [104]:
model=FFN(X_train, y_train)
evaluate_FFN(model,X_test, y_test)

accuracy: 57.49%
f1_metric: 73.19%
precision_m: 58.18%
recall_m: 100.00%

### <font color="blue"> K-fold cross validation

In [26]:
accuracy_scores = []
f1_scores = []
precisions = []
recalls = []
fold = 2
kf = KFold(n_splits = 5, shuffle = True, random_state = 101)

for train_index, test_index in kf.split(X):
  X_train, X_test = X.iloc[train_index], X.iloc[test_index]
  y_train, y_test = y[train_index], y[test_index]

  model = FFN(X_train, y_train)
  evaluations = model.evaluate(X_test, y_test)

  accuracy_scores.append(evaluations[1] * 100)
  f1_scores.append(evaluations[2] * 100)
  precisions.append(evaluations[3] * 100)
  recalls.append(evaluations[4] * 100)

  fold += 1

print("\n\n5 fold cross validation scores")
print("Accuracy %.2f%% " % (np.mean(accuracy_scores)))
print("F1 score %.2f%% " % (np.mean(f1_scores)))
print("precision %.2f%% " % (np.mean(precisions)))
print("recall %.2f%% )" % (np.mean(recalls)))

5/5 [==============================] - 0s 3ms/step - loss: 0.6849 - accuracy: 0.5725 - f1_metric: 0.7465 - precision_m: 0.6313 - recall_m: 1.0000
5/5 [==============================] - 0s 3ms/step - loss: 0.6762 - accuracy: 0.5580 - f1_metric: 0.7095 - precision_m: 0.6187 - recall_m: 1.0000
5/5 [==============================] - 0s 3ms/step - loss: 0.6997 - accuracy: 0.4928 - f1_metric: 0.6663 - precision_m: 0.5625 - recall_m: 1.0000
5/5 [==============================] - 0s 4ms/step - loss: 0.6953 - accuracy: 0.5217 - f1_metric: 0.7011 - precision_m: 0.5875 - recall_m: 1.0000
5/5 [==============================] - 0s 4ms/step - loss: 0.6913 - accuracy: 0.6304 - f1_metric: 0.7826 - precision_m: 0.6812 - recall_m: 1.0000


5 fold cross validation scores
Accuracy 55.51%
F1 score 72.12%
precision 61.62%
recall 100.00% )

### <font color="blue"> Number of hidden neurons

In [108]:
np.sqrt((689/(16*np.log2(689))))

2.137132935477019

In [109]:
(4*np.square(689)+8)/(np.square(689)-8)

4.000084261437964